<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Search page</h1>
    <a href="{{ url_for('index') }}">Về Trang chủ</a>

    {% for service in all_service %}
    <div>
        {% if service.gender == 1 %}
        
        <img src="../static/image/male-profile.jpg" alt="">
        {% elif service.gender == 0 %}
        <img src="../static/image/female-profile.jpg" alt="">
        {% endif %}
        
        <p>Tên : {{service.name }} </p>
        <p>Năm Sinh : {{service.name.yob }}</p>
        <p>chiều cao : {{ service.height }}</p>
        <a href="{{ url_for('detail', service_id=service.id) }}">Chi Tiết</a>
        <hr>
    </div>
    {%endfor %}
</body>
</html>