<div style="background-image:url(../../static/image/night.jpg);width:100%;background-size: contain;">
    <h2 class="d-flex justify-content-center text-light py-5">Khách hàng bình chọn</h2>
    <div class="pt-3 d-flex justify-content-around ">
        <img src="../../static/image/hand.jpg" class="img-thumbnail col-md-2 ">
        <img src="../../static/image/lightning.jpg" class="img-thumbnail col-md-2">
        <img src="../../static/image/rocks.jpg" class="img-thumbnail col-md-2">
        <img src="../../static/image/steel.jpg" class="img-thumbnail col-md-2">
    </div>
    <div class="py-5 d-flex justify-content-around ">
        <img src="../../static/image/hand.jpg" class="img-thumbnail col-md-2">
        <img src="../../static/image/lightning.jpg" class="img-thumbnail col-md-2">
        <img src="../../static/image/rocks.jpg" class="img-thumbnail col-md-2">
        <img src="../../static/image/steel.jpg" class="img-thumbnail col-md-2">
    </div>
</div>