<div class="bg-light mt-5">
    <h2 class="d-flex justify-content-center">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h2>
    <br>
    <h6 class="font-italic d-flex justify-content-center">"Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình, người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</h6>
    <div class="my-5 d-flex justify-content-around">
        <a href="#" class="btn btn-lg active col-md-5" role="button" aria-pressed="true" style="background-image: url(../../static/image/female.jpg); height: 243px;"><p class="d-inline text-light justify-content-end align-items-center font-weight-bold">Bạn là Nam</p></a>
        <a href="#" class="btn btn-lg active col-md-5" role="button" aria-pressed="true" style="background-image: url(../../static/image/male.jpg); height: 243px;"><p class="d-inline text-light justify-content-end align-items-center font-weight-bold">Bạn là Nữ</p></a>
    </div>
</div>
