<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIGN IN</title>
</head>
<body>
    <h1>Đăng Kí Tài Khoản</h1>
    <form >
        <label>Tên đầy đủ</label>
        <br>
        <input type="text" name = "fullname">  
        <br>  
        <label>Email</label>
        <br>
        <input type="text" name = "email"> 
        <br>
        <label>Tên đăng nhập</label>
        <br>
        <input type="text" name  = "username">
        <br>
        <label>Mật Khẩu</label>
        <br>
        <input type="password" name  = "password">
        <br>
        <input type="submit" value="submit">
        

    </form>
</body>
</html>